@import 'src/styles/variables';

.popover {
  position: absolute;
  background-color: $white-color;
  border: 1px solid $secondary-color;
  border-radius: 10px;

  padding: 20px;
  max-width: 350px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(244, 167, 95, 0.17);
}