@import 'src/styles/variables';

.dish {
  padding: 21px;
  min-height: 320px;

  &:not(:first-child){
    margin-left: 20px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border: 1px solid rgba(112, 112, 112, 0.2);
  border-radius: 20px;

  &:hover {
    border: 1px solid $secondary-color;
    box-shadow: 0 30px 30px 13px rgba(198, 198, 198, 0.25);
  }
}

.img {
  display: flex;
}

.name {
  align-self: self-start;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.ingredients {
  align-self: self-start;
  min-width: 250px;
  display: flex;
}

.quantityControl {
  width: 100%;
  align-self: unset;
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
}