.menu {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  //временно
  width: 60%;
}

.loading {
  padding-top: 30px;
  font-size: 20px;
  font-weight: 500;
}