.loading {
  padding-top: 30px;
  font-size: 20px;
  font-weight: 500;
}

.reviews {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newReview {
  padding-top: 20px;

  display: flex;
  flex-direction: column;
}